@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=UnifrakturMaguntia&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color: #191919;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

ol, ul {
	list-style: none;
}

.bgmenu {
  background-image: url('/assets/ketnight-bg2.webp');
  background-repeat: no-repeat;
}

/* ROOT */

:root {
  --spacemono: 'Space Mono', monospace;
}

/* STYLES */

.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }

.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.spline-bg {
  position: fixed;
  width: 100vw;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  display: flex;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 4vh;
  position: relative;
  letter-spacing: -.025em;
}

nav > ul li a h1 {
  border: 1px solid;
  padding: .6em 0;
  border-radius: 1em;
  text-align: center;
  margin-bottom: 2px;
  width: min-content;
  border-radius: 1em;
  margin: 1px;
}

nav > ul li a h2 {
  font-size: 4vw;
  color: gray;
  border: 1px solid gray;
  padding: .3em;
  display: inline-flex;
  margin: 1px;
  font-family: 'Space Mono';
  border-radius: 1em;
}

.page h1, .page-btm h1, .page-about h1 {
  position: fixed;
  top: 15px;
  left: 10px;
  font-size: 11vw;
  mix-blend-mode: difference;
  width: 80vw;
  z-index: 50;
  line-height: .8em;
}

.page h1 span, .page-btm h1 span, .page-about h1 span {
  line-height: 1.5em;
}

h1 span {
  font-family: var(--spacemono);
  font-size: 3vw;
  top: initial;
  left: initial;
  padding: 0 8px;
  letter-spacing: -.01em;
  position: absolute;
  transition: all .2s;
}

nav > ul li a h1 span {
  display: flex;
  right: 0;
}

li {
  display: inline-block;
}

nav h1:hover {
  color: #191919;
  transform: skewY(5deg) scaleX(1);
  transition: all .1s;
  padding: 1em 0;
  margin: -.5em 0;
  overflow: hidden;
  border-radius: 0;
}

.marquee p {
  padding: .3em;
  font-family: 'Arial';
  color: #191919;
  margin: .6em 1px;
  line-height: .5em;
  border: 1px solid #191919;
  border-radius: 3em;
  background: linear-gradient(to right, rgb(255, 255, 255) 20%, rgb(255, 72, 160) 40%, rgb(255, 133, 243) 60%, rgb(159, 159, 159) 80%);
  transition: .08s;
}

.marquee p:hover {
padding: 1.5em .3em;
cursor: pointer;
}

.marquee p:hover::after {
  content: attr(data-action);
  display: block;
  margin-top: 20px;
  text-align: center;
}

.acknowledgement {
  background: linear-gradient(to right, rgb(69, 69, 69) 20%, rgb(255, 32, 32) 40%, rgb(255, 229, 133) 60%, rgb(69, 69, 69) 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 6s linear infinite;
  font-family: 'Arial';
  line-height: 1.1em;
  padding: 1rem;
}

@keyframes shine {
  to {
    background-position: -200% center;
  }
}

/* PAGE/ARTICLE */

.page {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.page-btm {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.page-about {
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
  height: auto;
}

/* CLOSE X */

#close-btn {
  transition: all .1s ease-in-out;
  mix-blend-mode: exclusion;
  font-size: 2.4em;
  z-index: 60;
}

#close-btn:hover {
  padding: 20px;
  transform: skewY(20deg);
  color: #191919;
  background-color: white;
  cursor: pointer;
  mix-blend-mode: normal;
}

/* INFO BLOCK */

article > div > details {
  position: fixed;
  bottom: 1.2em;
  right: 1.2em;
  font-family: 'Space Mono';
  border: 1.2px solid white;
  border-radius: 64px;
  width: auto;
  mix-blend-mode: normal;
  font-size: .8em;
  text-transform: uppercase;
  overflow: hidden;
  line-height: 1.25em;
  z-index: 40;
}

article > div > details summary {
  padding: 1.5em;
  cursor: pointer;
  text-align: center;
}

article > div > details[open] summary ~ * {
  animation: credits .5s ease-in-out;
  padding: 1.5em;
  text-align: center;
}

@keyframes credits {
  0%    {opacity: 0; margin-bottom: -100px; padding: 0em}
  100%  {opacity: 1; margin-bottom: 0px; padding: 1em}
}

article > div > details[open] {
  background-color: #191919;
  width: min-content;
}

article > div > details a {
  text-decoration: underline;
}

/* ARTICLE HEADING */

article > div > h3 {
  color:white;
  font-size: 6.25vw;
  font-family: 'Arial';
  display: inline;
  line-height: 1.25em;
}

details summary::-webkit-details-marker {
  display: none;
}

article > div > h3 > details {
  display: inline;
  transition: all .1s;
}

article > div > h3 > details > span {
  display: inline;
  transition: all .1s;
}

article > div > h3 > details > span a, article > div > h3 > details > span Link a {
  color: rgb(249, 138, 255);
  border: 1px solid rgb(249, 138, 255);
  border-radius: 1em;
  padding: 5px .5em;
  font-family: 'Space Mono';
  font-size: .8em;
}

article > div > h3 > details > span a:hover {
  background-color: rgb(249, 138, 255);
  border: 1px solid rgb(249, 138, 255);
  color: #090B11;
  cursor: pointer;
}

article > div > h3 > details > summary, h3 a {
  display: inline;
  border: solid 1px white;
  border-radius: 1em;
  transition: all .1s;
  color: white;
  padding: 0 3px;
}

article > div > h3 > details > summary:hover, h3 a:hover {
  display: inline;
  border: solid 1px yellow;
  transform: skewY(5deg) scaleX(1);
  border-radius: 1em;
  color: yellow;
  cursor: pointer;
}

article > div > h3 > details[open] > summary {
  border: none;
  color: yellow;
}

article > div > h3 > details[open] {
  display: inline;
  border: solid 1px yellow;
  transform: skewY(5deg) scaleX(1);
  margin: 1.5em 0;
  color: yellow;
}

/* SPINNING ALBUM IN MENU */

.back, .front {
  position: absolute;
  bottom: 10px;
}

.front {
	transform: rotateY(90deg);
  animation: frontAnimation 5s linear infinite;
  opacity: 1;
}


@keyframes frontAnimation {
	from {transform: rotateY(90deg); opacity: 1;}
	50% {transform: rotateY(-90deg); opacity: 1;}
  51% {transform: rotateY(-90deg); opacity: 0;}
  to {transform: rotateY(90deg); opacity: 0;}
}

.back {
	transform: rotateY(90deg);
  animation: backAnimation 5s linear infinite;
  opacity: 0;
}

@keyframes backAnimation {
	from {transform: rotateY(90deg); opacity: 0;}
	50% {transform: rotateY(90deg); opacity: 0;}
  51% {transform: rotateY(90deg); opacity: 1;}
  to {transform: rotateY(-90deg); opacity: 1;}
}


@media (min-width: 600px) {

  h1 span {
    font-size: 2vw;
  }

  h1 {
    font-size: 5.15vw;
  }

  #close-btn {
    font-size: 6vw;
  }

  article > div > h3 {
    font-size: 3vw;
  }

  nav > ul li a h1 {
    padding: 0 0 .5em 0;
    margin-bottom: 0;
    margin: 1px;
  }
  
  article {
    width: 50%;
  }

  article > div > details summary {
    padding: 2em;
  }
  
  article > div > details[open] summary ~ * {
    padding: 2em;
  }
  
  @keyframes credits {
    0%    {opacity: 0; margin-bottom: -100px; padding: 0em}
    100%  {opacity: 1; margin-bottom: 0px; padding: 2em}
  }

}

@media (min-width: 1900px) {

  h1 {
    font-size: 4.9vw;
  }

}